[Interface]
PrivateKey = {{ wireguard_backup_privkey_raw.content | b64decode | trim }}
Address = {{ wireguard_backup_server_tunnel_ip }}
ListenPort = {{ wireguard_backup_port }}

{% if wireguard_backup_peer_public_key | default('') | length > 0 %}
[Peer]
PublicKey = {{ wireguard_backup_peer_public_key }}
{% if wireguard_backup_peer_preshared_key | default('') | length > 0 %}
PresharedKey = {{ wireguard_backup_peer_preshared_key }}
{% endif %}
AllowedIPs = {{ wireguard_backup_peer_tunnel_ip }}
{% endif %}
