[Upload]
URL={{ journal_upload_push_url }}
{% if journal_upload_push_url.startswith('https://') %}
TrustedCertificateFile={{ journal_upload_ca_dest }}
ServerKeyFile=-
ServerCertificateFile=-
{% endif %}
