[Unit]
Description=Enable Wake-on-LAN (magic packet) on {{ wake_on_lan_interface }}
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/ethtool -s {{ wake_on_lan_interface }} wol g

[Install]
WantedBy=multi-user.target
