{% for app in argocd_platform_apps %}
{% if app not in argocd_network_policy_excluded_apps and app in argocd_existing_namespaces %}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: tier-default-ingress
  namespace: {{ app }}
spec:
  podSelector: {}
  policyTypes:
    - Ingress
  ingress:
{% if app in argocd_network_policy_refined_namespaces %}
    - from:
        - podSelector: {}
{% else %}
    - from:
        - namespaceSelector:
            matchLabels:
              security-tier: platform
{% endif %}
{% for extra_ns in argocd_network_policy_extra_ingress.get(app, []) %}
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ extra_ns }}
{% endfor %}
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: kube-system
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: monitoring
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: cloudflared
{% endif %}
{% endfor %}
{% for app in argocd_workloads_apps %}
{% if app not in argocd_network_policy_excluded_apps and app in argocd_existing_namespaces %}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: tier-default-ingress
  namespace: {{ app }}
spec:
  podSelector: {}
  policyTypes:
    - Ingress
  ingress:
{% if app in argocd_network_policy_refined_namespaces %}
    - from:
        - podSelector: {}
{% else %}
    - from:
        - namespaceSelector:
            matchLabels:
              security-tier: workload
{% endif %}
{% for extra_ns in argocd_network_policy_extra_ingress.get(app, []) %}
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ extra_ns }}
{% endfor %}
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: kube-system
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: monitoring
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: cloudflared
{% endif %}
{% endfor %}
