---
{% set tier = "entw" if argocd_entw_layout | bool else "tech" %}
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: home-server-apps-{{ tier }}
  namespace: {{ argocd_namespace }}
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - git:
        repoURL: "{{ argocd_repo_url }}"
        revision: "{{ argocd_repo_revision }}"
        directories:
          - path: "argocd/apps/{{ tier }}/*"
  template:
    metadata:
      name: "{{ '{{' }}.path.basename{{ '}}' }}"
    spec:
      project: {{ tier }}
      source:
        repoURL: "{{ argocd_repo_url }}"
        targetRevision: "{{ argocd_repo_revision }}"
        path: "{{ '{{' }}.path.path{{ '}}' }}"
      destination:
        server: https://kubernetes.default.svc
        namespace: "{{ '{{' }}.path.basename{{ '}}' }}"
      ignoreDifferences:
        - group: bitnami.com
          kind: SealedSecret
          jsonPointers:
            - /status
        - group: apps
          kind: Deployment
          name: zammad-railsserver
          jsonPointers:
            - /spec/replicas
        - group: apps
          kind: Deployment
          name: zammad-nginx
          jsonPointers:
            - /spec/replicas
        - group: apps
          kind: Deployment
          name: ollama
          jsonPointers:
            - /spec/replicas
        - group: apps
          kind: StatefulSet
          name: zammad-redis
          jsonPointers:
            - /spec/updateStrategy/rollingUpdate/maxUnavailable
        - kind: Secret
          name: monitoring-victoria-metrics-operator-validation
          jsonPointers:
            - /data
        - group: admissionregistration.k8s.io
          kind: ValidatingWebhookConfiguration
          name: monitoring-victoria-metrics-operator-admission
          jqPathExpressions:
            - '.webhooks[].clientConfig.caBundle'
        - group: operator.victoriametrics.com
          kind: VMRule
          jqPathExpressions:
            - '.spec.groups[].rules[].record'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        retry:
          limit: 5
          backoff:
            duration: 10s
            factor: 2
            maxDuration: 5m
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true
          - SkipDryRunOnMissingResource=true
