no-resolv
server={{ network_static_ip }}#{{ pihole_dns_nodeport }}

address=/homeserver/{{ network_static_ip }}

address=/dev.homeserver/{{ entw_vm_ip }}

{% for host in dnsmasq_prod_vm_hosts | default([]) %}
address=/{{ host }}/{{ prod_vm_ip }}
{% endfor %}

address=/worker-0/192.168.178.95

address=/worker-1/192.168.178.96

address=/ugreen-nas/192.168.178.97

bind-dynamic
listen-address={{ network_static_ip }}
interface=tailscale0
except-interface=lo

domain-needed
bogus-priv
