[Unit]
Description=xibosignage Slideshow Webserver
After=network.target

[Service]
Type=simple
WorkingDirectory={{ xibo_kiosk_web_root }}
ExecStart=/usr/bin/python3 -m http.server {{ xibo_kiosk_http_port }} --bind 127.0.0.1 --directory {{ xibo_kiosk_web_root }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
