[Unit]
Description=Periodischer xibosignage manifest.json Scan

[Timer]
OnBootSec=15
OnUnitActiveSec={{ xibo_kiosk_manifest_interval_seconds }}
Unit=xibosignage-manifest.service

[Install]
WantedBy=timers.target
